[submodule "subprojects/btk"]
	path = subprojects/btk
	url = https://github.com/robertpelloni/bcs
[submodule "subprojects/bobgui"]
	path = subprojects/bobgui
	url = https://github.com/robertpelloni/bgtk
[submodule "subprojects/bobui"]
	path = subprojects/bobui
	url = https://github.com/robertpelloni/bqt
[submodule "variants/geany-bobgui/subprojects/libffi"]
	path = variants/geany-bobgui/subprojects/libffi
	url = https://github.com/libffi/libffi
[submodule "variants/geany-bobgui/subprojects/proxy-libintl"]
	path = variants/geany-bobgui/subprojects/proxy-libintl
	url = https://github.com/jtojnar/proxy-libintl
