[submodule "subprojects/btk"]
	path = subprojects/btk
	url = https://github.com/robertpelloni/bcs
[submodule "subprojects/bobgui"]
	path = subprojects/bobgui
	url = https://github.com/robertpelloni/bgtk
[submodule "subprojects/bobui"]
	path = subprojects/bobui
	url = https://github.com/robertpelloni/bqt
